*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
  min-height: 8vh;
}

body{
  background-color: #f4d58d;
}
 
svg{
width:16px;
height:16px;
fill: currentColor; 
viewBox: "0 0 16 16";
}

#banner-img1, #banner-img2, #banner-img3, #banner-img4, #banner-img5{
  max-height: 12rem;
  object-fit: cover;
}

main{
  min-height: 84vh;
}

.box-form{
  min-height: 20rem;
}

.box-name-mail{
  width: 25rem;
  height: 4.5rem;
}

.box-message{
width: 25rem;
height: 2rem;
}



footer{
  min-height: 8vh;
}