*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
  min-height: 8vh;
}

#banner-img{
  max-height: 13rem;
  object-fit: cover;
}
main{
  min-height: 84vh;
}

footer{
  min-height: 8vh;
}